* {
    font-family: sans-serif;
    background: lavender;
    text-align: center;
}

::placeholder {
    color: grey;
}

h1{
    text-decoration: underline;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background: white;
}

.content-table:nth-child(even){
    background-color: pink;
}

tr{
    height: 40px;
}

